
#TheVisuals {  
  margin: 0;
  padding: 0;
  background-color: rgb(39, 43, 77);
}

  .node {
    cursor: pointer;
  }
  
  .node circle {
  }
  
  .node text {
    font: 10px sans-serif;
  }
  
  .link {
    fill: none;
    stroke: rgb(55, 68, 105);
    stroke-width: 1px;
  }