.sidebar {
  background-color: rgba(231, 234, 246, 0.01);
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 850ms;
  z-index: 999;
  left: -100%;
}
  .sidebarActive{
  background-color: #1D1127;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  transition: 550ms;
  z-index: 999;
  padding: 20px;
  border: 2px solid #130918
}

.sidebarBar {
  display: flex;
  height: 100%;
  color: white;
}
.sidebarBar:hover{
  cursor: pointer;
}

.closeSide{
  color: rgb(207, 204, 204);
  float: right;
}

.closeSide:hover {
  cursor:pointer;
}

.navText {
  display: flex;
  /* justify-content: start; */
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.navText a {
  text-decoration: none;
  color: rgb(207, 204, 204);
  font-size: 18px;
  width: 95%;
  height: 100%; 
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px
}

.navText a:hover{
  cursor: pointer;
  background-color: #a2a8d3;
}

.sideMenu{
  width:100%;
  padding-left:10px;
}