.sidebar {
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
  z-index: 999;
}

.sidebarActive{
  background-color: #060b26;
  width: 250px;
  height: 100vh;
  display: flex;
  justify-content: center;
  position: fixed;
  top: 0;
  left: 0;
  transition: 350ms;
  z-index: 999;
}

.sidebarBar:hover{
  cursor: pointer;
}

.closeSide{
  color: white;
}

.closeSide:hover {
  cursor:pointer;
}

.navText {
  display: flex;
  justify-content: start;
  align-items: center;
  padding: 8px 0px 8px 16px;
  list-style: none;
  height: 60px;
}

.navText a {
  text-decoration: none;
  color:white;
  font-size: 18px;
  width: 95%;
  height: 100%; 
  display: flex;
  align-items: center;
  padding: 0 16px;
  border-radius: 4px
}

.navText a:hover{
  background-color: #1a83ff;
}

.sideMenu{
  width:100%;
  padding-left:10px;
}